@font-face {
	font-family: "BigNoodleTitlingCyr";
	src: url("//db.onlinewebfonts.com/t/684c94f6cc6f9deda52aa04282ab7dae.eot");
	src: url("//db.onlinewebfonts.com/t/684c94f6cc6f9deda52aa04282ab7dae.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/684c94f6cc6f9deda52aa04282ab7dae.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/684c94f6cc6f9deda52aa04282ab7dae.woff") format("woff"), url("//db.onlinewebfonts.com/t/684c94f6cc6f9deda52aa04282ab7dae.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/684c94f6cc6f9deda52aa04282ab7dae.svg#BigNoodleTitlingCyr") format("svg");
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

video {
	position: fixed;
	top: 0;
	left: 0;
	/*min-width: 100%;*/
	/*min-height: 100%;*/
	width: 100%;
	min-height: 100%;
	transform: scale(1.3);
	z-index: -200;
}

html{
	height: 100%;
}

.vs{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "BigNoodleTitlingCyr", serif;
	font-size: 42pt;
	width: 120px;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	height: 42pt;
}

p {
	/*transform: translateY(-100%);*/
	margin: -2px 0 0 0;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	width: 150%;
	transform: skewX(-15deg);

}

.team {
	height: 100%;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	width: 70%;
}

.logo-left, .logo-right{
	display: flex;
	justify-content: center;
	transform: skewX(15deg) scale(0.8);
}

