@font-face {
    font-family: "BigNoodleTitlingCyr";
    src: url("//db.onlinewebfonts.com/t/684c94f6cc6f9deda52aa04282ab7dae.eot");
    src: url("//db.onlinewebfonts.com/t/684c94f6cc6f9deda52aa04282ab7dae.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/684c94f6cc6f9deda52aa04282ab7dae.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/684c94f6cc6f9deda52aa04282ab7dae.woff") format("woff"), url("//db.onlinewebfonts.com/t/684c94f6cc6f9deda52aa04282ab7dae.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/684c94f6cc6f9deda52aa04282ab7dae.svg#BigNoodleTitlingCyr") format("svg");
}

@font-face {
    font-family: "Industry Medium";
    src: url("../../fonts/Industry-Medium.ttf");
}

video {
	position: fixed;
	top: 0;
	left: 0;
	/*min-width: 100%;*/
	/*min-height: 100%;*/
	width: 100%;
	min-height: 100%;
	transform: scale(1.3);
	z-index: -200;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "BigNoodleTitlingCyr", serif;
    /*background: url('../images/fon.gif') no-repeat center center fixed;*/
    color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 99%;
    height: 100%;
}

p {
    margin: 0;
    padding: 0;
}

i {
    margin-right: 20px;
}

.back {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#top, #middle, #bottom {
    display: flex;
    /*border: 1px solid red;*/
    height: 100%;
}

#top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 26pt;
    margin: 45px 0 45px 0;
    padding: 0;
}

#middle {
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    font-size: 26pt;
    margin-top: 30px;
}

#bottom {
    justify-content: space-between;
    align-items: center;
    width: 80%;
    /*height: 40%;*/
    margin-top: 1%;
}

.caster {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.caster-name, .stage-name {
    font-size: 30pt;
}

.stage-name {
    color: #e6b157;
}

.team-left, .team-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    /*border: 1px solid red;*/
    width: 25%;
    height: 100%;
}

.webcam {
    width: 50%;
    /*border: 1px solid black;*/
    min-height: 100%;
    background: url(../images/transarent_background.png) repeat center center fixed;
    background-size: cover;
}

.teamname-left, .teamname-right {
    margin-top: 10px;
    font-size: 36pt;
}

.score-left, .score-right {
    font-size: 48pt;
    margin-bottom: -10px;
	color: white;
}

.team-left > img.logo-left, .team-right > img.logo-right {
    /*border: 1px solid orange;*/
    max-height: 30vh;
    width: auto;
}

.map {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 25vh;
    height: 25vh;
    max-height: 25vh;
    max-width: 25vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 5px solid lightgray;
    border-radius: 5px;
}

.map-img {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-repeat: no-repeat;
    background-position: center;
}

.map-score {
    background-color: rgba(200, 200, 200, 0.55);
    width: 100%;
    font-size: 18pt;
}

.map-img {
    position: relative;
}

.map-type {
    position: absolute;
    top: 0;
    font-size: 16pt;
    color: #e6b157;
    background-color: rgba(0, 0, 0, 0.55);
	font-family: "Industry Medium", serif;
    width: 100%;
}

.map-name, .map-type div {
    top: 14pt;
    color: white;
    left: 0;
}
/*
.map-name {
	font-size: 16pt;
}
*/

.top-map-cont > div {
	margin-top: 2.5pt;
}

.map-score {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-size: 46pt;
    background-color: transparent;
    font-family: "BigNoodleTitlingCyr";
    position: absolute;
    top: calc((22vh) / 2);
}

.top-map-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.top-map-cont > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 5;
    position: absolute;
    top: 18pt;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    font-size: 13pt;
    color: white;
    font-family: "Industry Medium";
}

.type-icon {
    /* position: absolute;*/
    margin-right: 5px;
    width: 14pt;
    height: auto;
    top: 18pt;
    filter: invert(100%) sepia(0%) saturate(7442%) hue-rotate(167deg) brightness(114%) contrast(100%);
}
