<!DOCTYPE html>
<html lang="en" xmlns:v-for="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pause Screen</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="setPause.js"></script>
	<link rel="stylesheet" href="pause.css">
</head>
<body>
<div class="header-info">
	<input type="text" class="castername" placeholder="Caster's name">
	<input type="text" class="stage" placeholder="Stage text">
</div>

<div id="container">

<div class="teams">
	<div class="team">
		<div class="img-container">
			<img class="team-a-img" src="" alt="">
		</div>
		<div class="name-color">
			<select onchange='setIMG(this)' name="" class="team-a">
				<option value="" disabled selected>Select team</option>
				<option v-for="team in teams" value="">{{team}}</option>
			</select>
			<input type="color" class="colorpicker" id="colorpicker-team-a">
		</div>
	</div>
	<p id="vs">VS.</p>
	<div class="team">
		<div class="img-container">
			<img class="team-b-img" src="" alt="">
		</div>
		<div class="name-color">
			<input type="color" class="colorpicker" id="colorpicker-team-b">
			<select onchange='setIMG(this)' name="" class="team-b">
				<option value="" disabled selected>Select team</option>
				<option v-for="team in teams" value="">{{team}}</option>
			</select>
		</div>
	</div>
</div>

<div class="mapscopes">
	<div class="mapscope">
		<input type="number" class="score" min="0">
		<select name="" class="maps">
			<option v-for="map in control" value="">{{map}}</option>
		</select>
		<input type="number" class="score" min="0">
	</div>
	<div class="mapscope">
		<input type="number" class="score" min="0">
		<select class="maps">
			<option v-for="map in assault" value="">{{map}}</option>
		</select>
		<input type="number" class="score" min="0">
	</div>
	<div class="mapscope">
		<input type="number" class="score" min="0">
		<select class="maps">
			<option v-for="map in hybrid" value="">{{map}}</option>
		</select>
		<input type="number" class="score" min="0">
	</div>
	<div class="mapscope">
		<input type="number" class="score" min="0">
		<select class="maps">
			<option v-for="map in escort" value="">{{map}}</option>
		</select>
		<input type="number" class="score" min="0">
	</div>
	<div class="mapscope">
		<input type="number" class="score" min="0">
		<select name="" class="maps">
			<option v-for="map in control" value="">{{map}}</option>
		</select>
		<input type="number" class="score" min="0">
	</div>
</div>

</div>

<script>let onswitch = false; let tempData;</script>

<div class="buttons">
	<button class="update" onclick="obtainData()">Update pause</button>
	<button class="update" onclick="switchSides(obtainData(), onswitch);">update ingame</button>
	<input type="checkbox" class="reversed" onclick="onswitch = !onswitch">
</div>

<script>
	let App = new Vue({
		el: '#container',
		data: {
			teams: [],
			n_stages: 0,
			control: ['control', 'Busan', 'Ilios', 'Lijiang Tower', 'Nepal', 'Oasis'],
			assault: ['assault', 'Anubis Temple', 'Hanamura', 'Horizon Lunar Colony', 'Paris', 'Volskaya Industries'],
			hybrid: ['hybrid', 'Blizzard World', 'Eichenwalde', 'Hollywood', "King's Row", 'Numbani'],
			escort: ['escort', 'Dorado', 'Junkertown', 'Havana', 'Rialto', 'Route 66', 'Watchpoint Gibraltar'],
			n5: [this.control, this.assault, this.hybrid, this.escort, this.control],
			n7: [this.control, this.assault, this.hybrid, this.escort, this.hybrid, this.assault, this.control]
		},
		methods: {
			getTeams: async function(){
				const req = await fetch('/ver2OctoleagueBundle/colors-json', {method: "GET"});
				let data = await req.json();
				console.log(Object.keys(data).sort());
				return Object.keys(data).sort();
			}
		}
	});

	App.getTeams().then(res => App.teams = res);
</script>
</body>
</html>
