<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pause Screen</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="setPause.js"></script>
	<link rel="stylesheet" href="pause.css">
</head>
<body>
<div class="header-info">
	<input type="text" class="castername" placeholder="Caster's name">
	<input type="text" class="stage" placeholder="Stage text">
</div>

<div id="container">

<div class="teams">
	<div class="team">
		<div class="img-container">
			<img class="team-a-img" src="" alt="">
		</div>
		<div class="name-color">
			<select onclick="App.getTeams().then(r => App.teams = r)" name="" class="team-a" v-model="team_a" v-on:change="setIMG('team-a')">
				<option value="" disabled selected>Select team</option>
				<option v-for="team in teams" :value="team" class="team-a-name">{{team}}</option>
			</select>
			<input type="color" class="colorpicker" id="colorpicker-team-a">
		</div>
	</div>
	<p id="vs">VS.</p>
	<div class="team">
		<div class="img-container">
			<img class="team-b-img" src="" alt="">
		</div>
		<div class="name-color">
			<input type="color" class="colorpicker" id="colorpicker-team-b">
			<select onclick="App.getTeams().then(r => App.teams = r)" name="" class="team-b" v-model="team_b" v-on:change="setIMG('team-b')">
				<option value="" disabled selected>Select team</option>
				<option v-for="team in teams" :value="team" class="team-b-name">{{team}}</option>
			</select>
		</div>
	</div>
</div>

<div class="addMap" style="width:50%; display:flex; justify-content: center">
	<select name="" id="maptype-select" class="mapType"> <!--v-model="mapType"-->
		<option value="" disabled selected>Select map type</option>
		<option value="control">control</option>
		<option value="hybrid">hybrid</option>
		<option value="assault">assault</option>
		<option value="escort">escort</option>
	</select>
	<button style="font-size: 12pt;" onclick="let s = document.getElementById('maptype-select');
	App.newMapscope(s.options[s.options.selectedIndex].text)">Add</button>
</div>

<div class="mapscopes" id="mapscopes">
</div>

</div>

<script>let onswitch = false; let tempData;</script>

<div class="buttons" style="width: 70%; display:flex;flex-direction: row; align-items: center">
	<button style="display: none" class="update" onclick="obtainData()">Update pause</button>
	<button class="update" onclick="switchSides(obtainData(), onswitch);">update data</button>
	<label>
		<input type="checkbox" class="reversed" onclick="onswitch = !onswitch">
		<span style="color:white">Switch sides</span>
	</label>
</div>

<script>
	let App = new Vue({
		el: '#container',
		data: {
			teams: [],
			team_a:"",
			team_b:""
		},
		methods: {
			getTeams: async function(){
				const req = await fetch('/ver2OctoleagueBundle/teamlist', {method: "GET"});
				let data = await req.json();
				data = data.data;
				return data;
			},
			newMapscope: function(type){
				let obj = {
					data: function() {
						switch (type){
							case 'control':
								return {maps:['TBD', 'Busan', 'Ilios', 'Lijiang Tower', 'Nepal', 'Oasis']};
							case 'assault':
								return {maps:['TBD', 'Anubis Temple', 'Hanamura', 'Horizon Lunar Colony', 'Paris', 'Volskaya Industries']};
							case 'hybrid':
								return {maps:['TBD', 'Blizzard World', 'Eichenwalde', 'Hollywood', "King's Row", 'Numbani']};
							case 'escort':
								return {maps:['TBD', 'Dorado', 'Junkertown', 'Havana', 'Rialto', 'Route 66', 'Watchpoint Gibraltar']}
						}
					},
					props: ['maptype'],
					template: `<div class="mapscope" style="position:relative;">
			<input type="number" class="score" min="0">
			<select class="maps">
				<option v-for="map in maps" :value="map">{{ map }}</option>
			</select>
			<input type="number" class="score" min="0">
			<button onclick="this.parentNode.parentNode.removeChild(this.parentNode)" style="font-size: 10pt; position:absolute; right:-50px;">✕</button>
		</div>`
				};
				let Mapscope = Vue.extend(obj);
				let elem = new Mapscope().$mount();
				document.getElementById('mapscopes').appendChild(elem.$el);
			},
			setIMG: async function(elem){
				var className = elem;
				var teamName = document.getElementsByClassName(className)[0];
				teamName = teamName.options[teamName.selectedIndex].text;
				var imgDOM = document.getElementsByClassName(className+'-img')[0];
				console.log(teamName)
				imgDOM.setAttribute('src', `/ver2OctoleagueBundle/teamImg/${teamName}`);

				let colors = await receiveColors();

				console.log(colors);

				document.getElementById(`colorpicker-${className}`).value = colors[teamName].primary.toLowerCase();
				App.getTeams().then(res => App.teams = res);
				console.log(teamName, colors[teamName])
			}
		},
	});

	App.getTeams().then(res => App.teams = res);


</script>
</body>
</html>
