<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Toss</title>
	<script src="toss.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" href="toss.css">
</head>
<body>

<div class="video">
	<video autoplay="" muted="" loop="" id="myVideo">
		<source src="/ver2OctoleagueBundle/bg" type="video/mp4" >
	</video>
</div>

<div id="container">
	<div class="lotto">
		<div class="lotto__teamname">
			<div class="team-label">
				<div class="skewer skewer-left"></div>
				<div class="lotto__team-img">
					<img :src=`/ver2OctoleagueBundle/teamImg/${t_rand}` alt="" class="lotto__teamlogo">
				</div>
				<span class="lotto-teamname">{{t_rand}}</span>
				<div class="skewer skewer-right"></div>
			</div>
		</div>
		<div class="lotto__teamgroup">
			<div class="skewer skewer-left"></div>
			<span class="lotto-teamgroup">{{g_rand}}</span>
			<div class="skewer skewer-right"></div>
		</div>
	</div>

	<div class="groups">
		<div class="group group-a">
			<span class="groupname g-a">Group A</span>
			<template  v-for="team in group_a">
				<div class="team-label">
					<div class="skewer skewer-left"></div>
					<div class="lotto__team-img">
						<img :src=`/ver2OctoleagueBundle/teamImg/${team}` alt="" class="lotto__teamlogo">
					</div>
					<span class="lotto-teamname">{{team}}</span>
					<div class="skewer skewer-right"></div>
				</div>
			</template>
		</div>
		<div class="group group-b">
			<span class="groupname g-b">Group B</span>
			<template  v-for="team in group_b">
				<div class="team-label">
					<div class="skewer skewer-left"></div>
					<div class="lotto__team-img">
						<img :src=`/ver2OctoleagueBundle/teamImg/${team}` alt="" class="lotto__teamlogo">
					</div>
					<span class="lotto-teamname">{{team}}</span>
					<div class="skewer skewer-right"></div>
				</div>
			</template>
		</div>
	</div>
</div>

<script>
	let App = new Vue({
		el: '#container',
		data:{
			group_a:[],
			group_b:[],
			t_rand: "",
			g_rand: ""
		}
	});
</script>

</body>
</html>
