<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Roster Screen</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="./roster.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<link rel="stylesheet" href="./roster.css">
	<link rel="preload" href="/ver2OctoleagueBundle/bg" as="video" type="video/mp4">
</head>
<body>
<div class="video">
	<video autoplay="" muted="" loop="" id="myVideo">
		<source src="/ver2OctoleagueBundle/bg" type="video/mp4" >
	</video>
</div>

<div id="container">
	<div class="players">
		<div class="player" v-for="player in players">
			<img src="" alt="" class="character">
			<div class="info-handler">
				<div class="info">
					<div class="btag-role">
						<span class="btag">{{player.Nick}}</span>
						<img :src=`/ver2OctoleagueBundle/role/${role}` alt="" class="role"
							 v-for="role in player.Roles">
					</div>
					<span class="name">{{player.Name}}</span>
					<span v-if="player.isCap" class="captain">Team captain</span>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom">
		<img :src="players[0].Team" alt="" class="teamIcon">
		<span class="teamName">{{players[0].Team}}</span>
	</div>

</div>
<script>
	let App = new Vue({
		el: '#container',
		data: {
			players: [],
			color: ''
		}
	})
</script>
</body>
</html>
