<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="container">
	<select name="" id="team" class="teams" v-model="team">
		<option value="" selected disabled>Select team</option>
		<option v-for="team in teams" :value="team" v-on:click="getPlayersByTeam(this.value).then(async (res) => {
			players = res; await getColor(team); console.log(res);
		})">{{team}}</option>

	</select>

	<div class="players">
		<select name="" id="player-in" class="in" v-model="In">
			<option value="" disabled selected>Player in</option>
			<option :value="player" v-for="player in players">{{player.Nick}}</option>
		</select>
		<select name="" id="player-out" class="out" v-model="Out">
			<option value="" disabled selected>Player out</option>
			<option :value="player" v-for="player in players">{{player.Nick}}</option>
		</select>
	</div>
	<button class="trigger" v-on:click="sendNodeCG">Trigger</button>
</div>

<script>
	let App = new Vue({
		el: '#container',
		data:{
			teams:[],
			players:[],
			team: '',
			In: '',
			Out: '',
			info: {
				team: this.team,
				In: this.In,
				Out: this.Out,
				color: ''
			}
		},
		methods:{
			getTeams: async function(){
				const req = await fetch('/ver2OctoleagueBundle/teamlist', {method: "GET"});
				let data = await req.json();
				return data.data;
			},
			getPlayersByTeam: async function(team){
				const req = await fetch(`/ver2OctoleagueBundle/players/${team}`, {method: "GET"});
				let data = await req.json();
				return data.data;
			},
			getColor: async function(){
				const req = await fetch(`/ver2OctoleagueBundle/colors-json`, {method: "GET"});
				let data = await req.json();
				console.log(this.info.team, data[this.info.team]);
				this.info.color = data[this.info.team];
			},
			sendNodeCG: function(){
				nodecg.sendMessage('subbing', this.info);
			}
		}
	});

	App.getTeams().then(res => {
		App.teams = res; console.log(res)});
</script>
</body>
</html>
