<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<style>
		.teams {
			width: 100%;
		}
		.players{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
		}
		.in, .out {
			width: 45%;
		}
	</style>
</head>
<body>
<div id="container">
	<select name="" id="team" class="teams" v-model="team"
			v-on:change="getPlayersByTeam(team)">
		<option value="" selected disabled>Select team</option>
		<option v-for="team in teams" :value="team">{{team}}</option>

	</select>

	<div class="players">
		<select name="" id="player-in" class="in" v-model="In">
			<option value="" disabled selected>Player in</option>
			<option :value="player" v-for="player in players">{{player.Nick}}</option>
		</select>
		<select name="" id="player-out" class="out" v-model="Out">
			<option value="" disabled selected>Player out</option>
			<option :value="player" v-for="player in players">{{player.Nick}}</option>
		</select>
	</div>
	<button class="trigger" v-on:click="sendNodeCG()">Trigger</button>
</div>

<script>
	let App = new Vue({
		el: '#container',
		data:{
			teams:[],
			players:[],
			team: '',
			In: '',
			Out: '',
			color: ''
		},
		methods:{
			getTeams: async function(){
				const req = await fetch('/ver2OctoleagueBundle/teamlist', {method: "GET"});
				let data = await req.json();
				return data.data;
			},
			getPlayersByTeam: async function(team){
				const req = await fetch(`/ver2OctoleagueBundle/players/${team}`, {method: "GET"});
				let data = await req.json();
				this.players = data.data;
				return this.players;
			},
			getColor: async function(){
				const req = await fetch(`/ver2OctoleagueBundle/colors-json`, {method: "GET"});
				let data = await req.json();
				console.log(this.team, data[this.team]);
				this.color = data[this.team];
				console.log(this.color)
			},
			sendNodeCG: function(){
				this.getColor()
				.then( res => {
					nodecg.sendMessage('subbing', {
						team: this.team,
						In: this.In,
						Out: this.Out,
						color: this.color
					});
				})

			}
		}
	});

	App.getTeams().then(res => {
		App.teams = res; console.log(res)});
</script>
</body>
</html>
