@font-face {
	src: url("./BigNoodleTitling.ttf");
	font-family: "TT Lakes Demi Bold";
}

@keyframes fadeUpOCTO {
	100% {
		width: 0;
		opacity: 0;
	}
}

@keyframes toggleOff {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes toggleOn {
	from { opacity: 0; }
	to { opacity: 1; }
}

* {
	overflow: hidden;
	margin: 0;
	padding: 0;
	--item-width: 70px;
	--plank-width: 36.55vw;
	--plank-margin: 3.25vw;
	--color-ow-blue: #4395b6;
	--color-ow-red: #ba1d31;
	--skew-left: -15deg;
	--skew-right: 15deg;
	--logo-scaler: .92;
	--gradient: linear-gradient(90deg, rgba(67,149,182,1) 0%, rgba(186,29,49,1) 100%);
}

body {
	width: 100%;
	background-image: url("./back.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "TT Lakes Demi Bold", serif;
	text-transform: uppercase;
}

#container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 3.5vh;
}

.plank {
	display: flex;
	align-items: center;
	width: var(--plank-width);
	height: 6vh;
	justify-content: flex-end;
}

.plank, .mid, .score {
	/*animation-name: fadeUpOCTO;
	animation-duration: .9s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;*/
}

.plank-left {
	flex-direction: row;
	margin-left: var(--plank-margin);
	transform: skewX(var(--skew-left));
}

.plank-right {
	flex-direction: row-reverse;
	margin-right: var(--plank-margin);
	transform: skewX(var(--skew-right));
}

.team {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
	width: 95%;
	position: relative;
}

.team-left {
	flex-direction: row;
}

.team-right {
	flex-direction: row-reverse;

}

.teamName {
	position: absolute;
	bottom: 0;
	background-color: white;
	width: 76%;
	text-align: center;
}

.teamName-left{
	left: 0;
	border-left: 5px solid var(--color-ow-blue);
}

.teamName-left > p,
.logo-left > .logo-img,
.score-left > p,
.side-left > p{
	transform: skewX(var(--skew-right));
}

.teamName-right > p,
.logo-right > .logo-img,
.score-right > p,
.side-right > p{
	transform: skewX(var(--skew-left));
}

.teamName-right {
	right: 0;
	border-right: 5px solid var(--color-ow-red);
}

.logo {
	height: 100%;
	width: var(--item-width);
	display: flex;
	align-items: center;
	justify-content: center;
	object-fit: cover;
	background-color: white;
	z-index:10;
}

.logo > .logo-img {
	border: none;
	height: 100%;
}

.logo-left {
	border-left: 5px solid var(--color-ow-blue);
}

.logo-left > .logo-img {
	transform: scale(var(--logo-scaler)) skewX(var(--skew-right));
}

.logo-right {
	border-right: 5px solid var(--color-ow-red)
}

.logo-right > .logo-img {
	transform: scale(var(--logo-scaler)) skewX(var(--skew-left));
}

.score {
	width: var(--item-width);
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: white;
}

.score-left {
	border-left: 5px solid var(--color-ow-blue);
	border-right: 5px solid var(--color-ow-blue);
}

.score-right {
	border-left: 5px solid var(--color-ow-red);
	border-right: 5px solid var(--color-ow-red);
}

.side {
	height: 70%;
	width: var(--item-width);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-self: flex-start;
	object-fit: cover;
	border: 1px solid;
	z-index: 20;
}

.side-left {
	background-color: var(--color-ow-blue);
	border-color: var(--color-ow-blue);
}

.side-right {
	background-color: var(--color-ow-red);
	border-color: var(--color-ow-red);
}

.side > img {
	height: 95%;
}

.side-left > img {
	transform: skewX(var(--skew-right));
}

.side-right > img {
	transform: skewX(var(--skew-left));
}

.mid {
	border-bottom: calc(0.7*6vh + 1px) solid white;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	height: 0;
	width: 17vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

p.mid-text {
	color: black;
	position: absolute;
	top: 0;
	animation-fill-mode: forwards;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}
